<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <title>로그인</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="head-text"><a href="/">즐 기 록</a></div>
            <div class="nav">
                <ul class="nav-list">
                    <li><a href="/">일기장</a></li>
                    <li><a href="/">캘린더</a></li>
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/signup">회원가입</a></li>
                </ul>
            </div>
            <div class="menu-bar" onclick="button()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

        </header>
        <div class="menu-list">
            <ul>
                <li><a href="#">일기장</a></li>
                <li><a href="#">캘린더</a></li>
                <li><a href="/login">로그인</a></li>
                <li><a href="/signup">회원가입</a></li>
            </ul>
        </div>
        <main>
            <div class="login">
                <h1>로그인</h1>
                <form class="login-form" id="login-form" onsubmit="return false;">
                    <div class="input-id">
                        <input type="text" name= "username" id="id" placeholder=" 아이디">
                    </div>
                    <div class="input-pw">
                        <input style="ime-mode:auto" type="password" name= "password" id="pw" placeholder=" 비밀번호">
                    </div class="login-button">
                    <div><button class="send-button"> 로그인 </button></div>
                    <div><a href="/signup">회원가입</a></div>
                </form>
            </div>
            
        </main>
        <footer>
            <div class="footer-text">Copyright © 2023 All Right Reserved By eun</div>
        </footer>
    </div>
    <script src="script.js"></script>
    <script>
        const sendButton = document.querySelector(".send-button");
        sendButton.addEventListener('click', function () {
            const form = document.getElementById('login-form');
            form.action = "/login/";
            form.method = "POST";
            form.submit();
            form.reset();
        })
    </script>
</body>

</html>