<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <title>home</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="head-text"><a href="/">즐 기 록</a></div>
            <div class="nav">
                <ul class="nav-list">
                    <li><a href="/diary">일기장</a></li>
                    <% if (!loggedIn) { %> <!-- 사용자가 로그인하지 않은 경우 체크 -->
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/signup">회원가입</a></li>
                        <% console.log("logg");} else { %>
                            <li><a href="/todolist">투두리스트</a></li>
                            <li><a href="/logout">로그아웃</a></li>
                            <% } %>
                </ul>
            </div>
            <div class="menu-bar" onclick="button()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

        </header>
        <div class="menu-list">
            <ul>
                <li><a href="/diary">일기장</a></li>
                <% if (!loggedIn) { %> <!-- 사용자가 로그인하지 않은 경우 체크 -->
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/signup">회원가입</a></li>
                    <% console.log("logg");} else { %>
                        <li><a href="/todolist">투두리스트</a></li>
                        <li><a href="/logout">로그아웃</a></li>
                        <% } %>
            </ul>
        </div>
        <main>
            <div class="main-banner diary-banner">
                <div class="animation-wrap" style="margin-top: 100px; margin-bottom: 50px;">
                    <div class="animation"> <% if(!loggedIn) { %>일상을 함께하는 즐기록 <% } %> <% if(loggedIn) { %> <%=loggedIn%>님의 할 일 <% } %></div>
                    
                </div>
            </div>
            <div class="write" style="margin-bottom: 50px;">
                <div class="todo-wrap">
                    <% let i=1; 
                    if(!todos.length) { %>

                            <div>할 일을 추가해보세요.</div> 
                    
                    <% }  
                    for(todos of todos) { %>
                        <div class="todo-list-item"><input type="checkbox" name="" id=""><%= todos.content%></div>
                        <% } %>
                </div>
                <form class="todolist-form" method="get" onsubmit="return false;" id="todolist-form">
                    <div class="add-todolist" style="margin-bottom: 100px;">
                        <div><input type="text" id="todo" name="todo" placeholder="할 일"></div>
                        <div><button class="send-button"> 추가 </button></div>
                    </div>
                </form>
            </div>
            <div class="footer">
                <div class="footer-text">Copyright © 2023 All Right Reserved By eun</div>
            </div>
        </main>
    </div>
    <script src="script.js"></script>
    <script>
       
        const sendButton = document.querySelector(".send-button");
        sendButton.addEventListener('click', function () {
            const form = document.getElementById('todolist-form');
            const Input = document.getElementById('todo');
            const value = Input.value;
            
            if (value.trim() === '' ) {
                alert('내용을 입력해주세요.');
                return;
            }
            
            form.action = "/todolist/";
            form.method = "POST";
            form.submit();
            form.reset();
        })
    </script>
</body>

</html>